.productsFilter{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    padding: 20px;
    gap: 10px;  
    justify-content: space-evenly;
    align-items: center;
}

.productsFilter > li{
    height: 100%;
    /* border: 2px solid black; */
}

#filterDiv{
    display: flex;

}

#slideValuesDiv{
    display: flex;
    justify-content: space-between;

}

#dualSliderDiv{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#brandsDiv{
    width: 10%;
}

#brandsList{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    position: absolute;
    z-index: 10;
}

#orderDiv{
    width: auto;
}

#addButtonProduct{
    position: relative;
    margin-bottom: 0%;
}


/*                  product.js */
.productDiv{
    display: flex;
    flex-direction: column;
}

.productDiv a{
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 12px;
    padding: 10px;
}

.productDiv img{
    margin: 0px auto;
    height: 200px;
    width: 200px;
}

.productDescription{
    display: flex;
    flex-direction: column;
}

.productId{
    width: auto;
    color: grey;
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.productName{
    color: black;
    font-size: 18px;   
}

.productBrand{
    color: #086dd2;
    padding: 2px 0px 0px 5px;
}

.productPrice{
    font-size: 24px;
    font-weight: bold;
    color: black;
    align-self: flex-end;
    margin: 5px;
    margin-right: 25px;
    border: black 2px solid ;
    padding: 1px 2px;
}

.categoryH1{
    text-align: center;
}
