
li{
    list-style: none;
}


/*                  carousel.js */
.productsUl{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.carouselDiv{
    display: flex;
}

/*                  product.js */
.productDiv{
    display: flex;
    flex-direction: column;
}
