body{
    margin: 0;
}

p{
    margin: 0;
}

li{
    list-style: none;
}

.mainContent{
    min-height:75vh;;
    position: relative;
}


/*                  carousel.js */

.carouselDiv{
    display: flex;
}

/*                  product.js */
.productDiv{
    display: flex;
    flex-direction: column;
}
.productsUl{
    display: flex;
    gap: 10px;
    padding: 0;
}
