body{
    margin: 0;
}

p{
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration:none !important;
}

select{
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    padding: 3px;
    text-align: center;
}

.mainContent{
    min-height:75vh;;
    position: relative;
}



/*                  product.js */
.productDiv{
    display: flex;
    flex-direction: column;
}
.productsUl{
    display: flex;
    gap: 10px;
    padding: 0;
}
